/* FONT IMPORT */
/* All fonts from fonts.google.com */

.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .crimson-text-semibold {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .crimson-text-bold {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .crimson-text-regular-italic {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .crimson-text-semibold-italic {
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .crimson-text-bold-italic {
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .cinzel-regular {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .cinzel-medium {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  
  
  
  /* CSS RESET AND NORMALIZATION   CSS CSS CSS CSS CSS CSS CSS CSS CSS  */
  /* Remove padding */
  body, ul, p, a {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  
  /* Remove hyperlink text decoration */
  a {
      text-decoration: none;
      color: inherit;
  }
  
  /* Remove bullets from list items */
  ul {
      list-style-type: none;
  }
  
  
  
  
  
  /* THEME TH TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH  TH   */
  
  :root {
      /* Colors */
      --background-color: #FEF6D0;
      --background-color-darker: #7B5832;
      --accent-color: #9B2A0F;
      --accent-highlight-color: #CC3914;
      --valid-color: #e1ff67;
      --font-default-color: #800D04;
      --font-alternative-color: #50483C;
  }
  
  body {
      /* Font and color declarations */
      background-color: var(--background-color, white);
  }
  
  h1, h2, h3, h4, h5, a, p, input {
      /* Font and color declarations */
      font-family: "Cinzel", serif;
      color: var(--font-default-color, darkred);
  
      /* CBPM */
      padding: 0;
      margin: 0;
  }
  
  p {
      /* Font and color declarations */
      font-family: "Crimson Text", serif;
  }
  
  a {
      /* Font and color declarations */
      color: var(--font-alternative-color, white);
  }

  button {
    /* Font and color declarations */
    font-family: "Crimson Text", serif;
  }





/* LAYOUT GRID  LG  LG  LG  LG  LG  LG  LG  LG  LG  LG  LG  LG  LG   */
.layout-grid {
    /* Display declarations */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);

    /* Transforms and constraints */
    height: 100vh;
    width: 100vw;
}

.header-container {
    /* Display declarations */
    grid-area: 1 / 1 / 2 / -1;

    /* DEBUG BORDERS */
    /* border: 2px solid red; */
}

.sidebar-container {
    /* Display declarations */
    grid-area: 2 / 1 / -2 / 2;

    /* DEBUG BORDERS */
    /* border: 2px solid green; */
}

.content-container {
    /* Display declarations */
    display: flex;
    flex-direction: column;
    grid-area: 2 / 2 / -2 / -1;

    height: 100%;
    width: 100%;

    /* DEBUG BORDERS */
    /* border: 2px solid blue; */
}

.footer-container {
    /* Display declarations */
    grid-area: -2 / 1 / -1 / -1;

    /* DEBUG BORDERS */
    border: 2px solid white;
}



/* HEADER STYLE   H   H   H   H   H   H   H   H   H   H   H   H   H  */
.header-container {
    /* Display declarations */
    display: flex;
    justify-content: space-between;

    /* Font and color declarations */
    background-color: var(--background-color-darker, brown);

    /* CBPM */
    padding: 8px 50px;
    box-shadow: 2px 2px 4px black;
}

.header-container h1 {
    /* Display declarations */
    align-self: center;
    
    /* Font and color declarations */
    font-size: 3rem;
    color: var(--background-color);
}

.header-navlinks, .header-navlinks-list {
    /* Display declarations */
    display: flex;
    align-items: center;
    gap: 24px;

    /* Font and color declarations */
    color: var(--background-color)
}



/* SIDEBAR STYLE    SB  SB  SB  SB  SB  SB  SB  SB  SB  SB  SB  SB   */
.sidebar-container {
    /* Display declarations */
    display: flex;
    flex-direction: column;
    gap: 12px;

    /* Font and color declarations */
    background-color: var(--);

    /* CBPM */
    border-right: 4px solid var(--font-alternative-color);
    padding: 12px 0px 0px 50px;
}

.sidebar-container h2 {
    /* Font and color declarations */
    font-size: minmax(1rem, 2rem);

    /* CBPM */
    padding-right: 8px;
}

.sidebar-navlinks, .sidebar-navlinks-list {
    /* Display declarations */
    display: flex;
    flex-direction: column;
    gap: 8px;

    /* Font and color declarations */
    color: var(--font-default-color);
}




/* CONTENT LAYOUT CONTAINER CLC CLC CLC CLC CLC CLC CLC CLC CLC CLC  */
.content-layout-container {
    /* Display declarations */
    display: grid;
    overflow: scroll;
    scrollbar-width: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(2, 1fr);

    gap: 18px;

    /* Transforms and constraints */
    height: 100%;

    /* CBPM */
    padding: 0px 50px 50px 12px;
    margin-top: 50px;
    

    /* DEBUG BORDERS */
    /* border: 2px solid magenta; */
}

.add-book-button {
    /* Transforms and constraints */
    position: fixed;
    height: 36px;
    width: fit-content;
    align-content: center;

    /* Font and color declarations */
    font-size: 1.2rem;
    background-color: var(--accent-color);
    color: var(--background-color);

    /* CBPM */
    border-radius: 5px;
    padding: 4px 12px;
    margin: 8px 0px 0px 12px
}

.add-book-button:hover {
    /* Font and color declarations */
    background-color: var(--accent-highlight-color);
}





/* CONTENT CARD CC  CC  CC  CC  CC  CC  CC  CC  CC  CC  CC  CC  CC   */
.content-card {
    /* Display declarations */
    display: grid;
    grid-template-rows: repeat(5, 1fr);

    /* Transforms and constraints */
    height: 300px;
    width: 200px;

    /* Font and color declarations */
    background-color: var(--background-color-darker);

    /* CBPM */
    border-radius: 12px;
    border-right: 2px solid var(--font-alternative-color);
    border-bottom: 2px solid var(--font-alternative-color);
    padding: 4px 8px 12px 8px;
    box-shadow: 2px 2px 4px black;

    /* DEBUG BORDERS */
    /* border: 2px solid cyan; */
}

.content-card h3, .content-card h4, .content-card p {
    /* Font and color declarations */
    coloR: var(--background-color);
}

.card-title {
    /* Display declarations */
    align-self: end;
    /* Font and color declarations */
    font-size: 1.3rem;
    font-weight: 600;

    /* CBPM */
    border-bottom: 2px solid var(--background-color);
}

.card-author {
    /* Font and color declarations */
    font-size: 1.1rem;
    font-weight: 500;

    /* CBPM */
    padding-left: 8px;
}

.card-pagecount, .card-is-book-read {
    /* Display declarations */
    align-self: end;
}

.content-card-buttons-container {
    /* Display declarations */
    display: flex;
    flex-direction: column;
}

.card-delete-button, .card-is-read-button {
    /* Font and color declarations */
    background-color: var(--accent-color);
    color: var(--background-color);

    /* CBPM */
    border-radius: 5px;
    padding: 4px;
    margin: 2px;
}

.card-delete-button:hover, .card-is-read-button:hover {
    /* Font and color declarations */
    background-color: var(--accent-highlight-color);
}



/* FOOTER   F   F   F   F   F   F   F   F   F       F   F   F   F   F*/
.footer-container{
    /* Display declarations */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Font and color declarations */
    background-color: var(--font-alternative-color);
}

.footer-container p {
    /* Font and color declarations */
    color: var(--background-color);
}